.App {
  text-align: center;
}

.postdetails {
  background-color: salmon;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
  width: 70%vw;
  margin: 0 auto;
}

button {
  text-align: center;
  margin: 0 auto;
}

#minus, #plus {
  width: 25px;
  height: 20px;
  padding: 2px;
  margin: 2px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

